---
layout: default
---

<div class="home">


  <div class="about">
    <div class="wrap">
      <div class="flex-row">
        <div class="about-me">
          <p style="font-size:1.3em;">
            <b>Hello! </b>
          </p>
          <p>
            <br/>
            My name is Steve X Chen.
            I believe that life is best lived when doing things that scare me or are almost impossible. <br/>
            <br/>
            My motivations are not for skills building, habit forming, or personal improvement (too boring). I am on a simple rampage to satisfy my curiousity.
            <br/>
            <br/>
            In the past, I went on a 21 day fast. Currently, I am doing a 30-day challenge to wake up at 5:30am. Go ahead, read the crap I write.
          </p>
        </div>
        <div class="profile-container">
          <img class="profile-image" src="/img/steve-chen-gunks.jpg" alt="Steve X. Chen" />
          <img class="second-image" src="/img/steve-x-chen-profile.jpg" alt="Steve X. Chen" />
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="posts">
    {% for post in site.posts %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="post">
          <div class="wrap">
      	  {% if post.image %}
      	  <img class="post-thumb" src="{{ site.baseurl }}/img/{{ post.image }}"/>
      	  {% endif %}
      	  <div class="post-info">
            <span class="post-link">{{ post.title }}</span>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}{% if post.categories %} • {{ post.categories | join: ' • ' }}{% endif %}</span>
      	    <span class="post-excerpt">{{ post.excerpt }}</span>
      	  </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
