---
layout: default
---
<div class="home">

	<div class="home-feature">
	  <div class="wrap">
	    <h2 class="home-tagline">
	      {{ page.title }}<br/>
	    </h2>
	    <span class="home-categories">
	    {% for cat in site.categories %}
	      <a href="/categories/{{cat | first}}">  •  {{ cat | first}}</a>
	    {% endfor %}
	    </span>
	  </div>
	</div>

	<div class="posts">
	{% for post in site.categories[page.category] %}
	  <a href="{{ post.url | prepend: site.baseurl }}">
	    <div class="post">
	      <div class="wrap">
	  	  {% if post.image %}
	  	  <img class="post-thumb" src="{{ site.baseurl }}/img/{{ post.image }}"/>
	  	  {% endif %}
	  	  <div class="post-info">
	        <span class="post-link">{{ post.title }}</span>
	        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}{% if post.categories %} • {{ post.categories | join: ' • ' }}{% endif %}</span>
	  	    <span class="post-excerpt">{{ post.excerpt }}</span>
	  	  </div>
	      </div>
	    </div>
	  </a>
	{% endfor %}
	</div>
</div>








